body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h2{
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15%;
}
  
/* Navigation Bar */
.navbar{
    padding: 0;
    margin-bottom: 80px;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}
.nav-item{
    margin: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}

/* Header */
#header{
    background-color: #ffcfb4;
    color: rgb(27, 25, 25);
    padding-bottom: 100px;
    text-align: left;
  }